.add-todo{
    width:100%;
    border: 0.1rem solid #313638;
    max-width: 500px;
    width: 90vw;
    border-radius: 10px;
    margin: 0px auto;
}

.add-todo form{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.add-todo input {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 75%;
}

.add-todo input:focus{
    outline:  0;
    border: 1px solid #7D8F69;
}


.add-todo .todo-list{
    padding: 0px 20px;
}

.add-todo .todo-list > .notcompleted-todo{
    border-bottom: 1px solid #EF6461;
    display: flex;
    justify-content: space-between;
}

.add-todo .todo-list > .completed-todo{
    border-bottom: 1px solid #7D8F69;
    display: flex;
    justify-content: space-between;
    color: #7D8F69;
}

.add-todo .todo-list div p {
    
    margin: 5px 0px;
}

.add-todo .todo-list > div > div {
    margin: 7px 0px 0px;
    cursor: pointer;
}

.ri-close-line{
    color: red;
    margin: 0px 5px;
}

.completed-todo-par{
    text-decoration: line-through;
}

.ri-checkbox-line{
    color: black;
}

.controllers{
    padding: 5px 15px;
    background-color: #FFE1E1;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.controllers .toggle-search-add > i{
    margin: 0px 5px;
    cursor: pointer;
}

.search-wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.controllers .toggle-search-add {
    display: flex;
}

.controllers .counter{
    border-left: 1px solid gray;
    padding-left: 5px;
}

.controllers .labels{
    
    display: flex;
}

.controllers .labels > p {
    margin: 0px;
    padding: 5px;
    cursor: pointer;
}

.controllers .labels > p.active{
    color: rgb(43, 153, 226);
    border-bottom: 1px solid rgb(43, 153, 226);
}